<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="/">
				<img src="../static/images/logo.png"/>
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AboutUs">关于我们</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<img src="../static/images/phone.png" />
			</div>
	</div>
</div>
</div>
