<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="/">
				<img src="images/logo.png"/>
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index.html">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="../AboutUs.html">关于我们</a></li>
				<li><a href="../AlgCourse.html">爱灵格课程</a></li>
				<li><a href="../Teacher.html">专家师资</a></li>
				<li><a href="../News.html">新闻动态</a></li>
				<li><a href="../AboutUs.html">爱灵格中心</a></li>
				<li><a href="../JoinUs.html">加盟我们</a></li>
				<li><a href="../ContactUs.html">联系我们</a></li>
			</ul>
			<div class="phone">
				<img src="images/phone.png" />
			</div>
	</div>
</div>
</div>
