<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>关于我们</title>
		<meta name="keywords" content="爱灵格,早慧堂,好学堂,早教">
		<meta name="description" content="爱灵格是一家专业从事潜能发展及教学研究的机构。">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/AboutUs.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <!--<div class="screen">
	    	<img src="images/index/screen.png" >
	    </div>-->
	    <div class="box">
	    	<div class="boxs">
	    		<p class="a1">爱</p>
	    		<p class="a2">灵</p>
	    		<p class="a3">格</p>
	    		<p class="a4">十</p>
	    		<p class="a5">问</p>
		    	<span>1、爱灵格是什么？</span>
				<p>答: ETAR是母语式学习语言和百科知识的课程，国内首创将生活、游戏、学习融为一体的教学模式。</p>
				 
				<span>2、ETAR要上多少课？能达到怎么样的效果？</span>
				<p>答:一学期64课时(40-45分钟/课)。第一学期国际版学会2000多汉字和1442个英文单词。</p>
				 
				<span>3、8-12岁的孩子是不是不能学习ETAR课程？</span>
				<p>答:8-12岁的孩子可以学习，但达不到2-3岁就开始ETAR学习的效果。</p>
				 
				<span>4、ETAR课程费用是多少？</span>
				<p>答: 价格因地制宜，要根据不同市场区域的市场情况来具体分析定价。</p>
				 
				<span>5、2岁和7岁的孩子学习内容是一样的吗？</span>
				<p>答: 是一样的，因为教材是一样的。年龄大些的孩子在认知、写作方面能力要强一些。年龄越小，越能实现外语与母语同步发展的效果。</p>
				 
				<span>6、孩子从小到爱灵格上课，要上到什么时候才算结束？</span>
				<p>答: 主体课程：3年；选修课程：1年（例如英语诗歌、英语话剧、汉语诗词等）；1-2岁之间孩子可以利用闪卡和歌曲多学习1年，学习效果更佳。</p>
				 
				<span>7、爱灵格早教和蒙氏早教的区别？</span>
				<p>答: 爱灵格早教是在生活中学习，户外体验先行，家庭和课堂教学跟随，崇尚自然教育。而蒙氏早教是在教室内用一堆教具来教学。</p>
				
				<span>8.爱灵格与其他感统课程有何不同?</span>
				<p>答：其他感统课程需要较大的场地，需要大量器材，感统课程是为感统而感统。爱灵格的感统训练是通过到大自然中旅行，在课堂上做操跳舞来做感统训练，并把语言学习和知识学习融合到感统训练中。</p>
				 
				<span>9.上了爱灵格有哪些培训课程就没必要上课了，和其他的培训又应该如何搭配？</span>
				<p>答: 中文课程、英文课程、感统训练课程、记忆力课程、全脑课程都不用学了。爱灵格课程可以和音体美艺术类、写作类、数学类课程搭配教学。</p>
				 
				<span>10、孩子特别调皮，喜欢打人，你们能不能接受？孩子性格内向，你们能解决吗？</span>
				<p>答:爱灵格的ETAR课程特别适合这样的孩子。爱灵格课程通过闪卡、唱歌、舞蹈等多种形式的教学，能很好地适应视觉型、听觉型、体觉型等各种类型的孩子。通过ETAR
				课程的学习，使得好动的孩子静下来、好静的孩子动起来，最终达到动静平衡、收放自如的状态。</p>
	        	
	    	</div>
		</div>
	</div>    
	     <!--footer-->
    <div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/ContactUs#join">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
</html>


