<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>爱灵格中心</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/AlgCenter.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/center.js" ></script>
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <div class="screen">
	    	<img src="../images/center/1.png" >
	    	<div class="city-mn wow animated fadeInUp">
	                
	                <div class="city-li">
	                	<div class="city-til">请选择您的城市</div>
	                    <ul>
	                        <li><a class="active" href="/AlgCenter?city=北京">北京</a></li>
	                        <li><a href="/AlgCenter?city=山东">山东</a></li>
	                        <li><a href="/AlgCenter?city=江苏">江苏</a></li>
	                        <li><a href="/AlgCenter?city=安徽">安徽</a></li>
	                        <li><a href="/AlgCenter?city=山西">山西</a></li>
	                        <li><a href="/AlgCenter?city=福建">福建</a></li>
	                        <li><a href="/AlgCenter?city=上海">上海</a></li>
	                        <li><a href="/AlgCenter?city=海南">海南</a></li>
	                        <li><a href="/AlgCenter?city=四川">四川</a></li>
	                        <li><a href="/AlgCenter?city=浙江">浙江</a></li>
	                        <li><a href="/AlgCenter?city=河北">河北</a></li>
	                        <li><a href="/AlgCenter?city=辽宁">辽宁</a></li>
	                        <li><a href="/AlgCenter?city=广东">广东</a></li>
	                        <li><a href="/AlgCenter?city=天津">天津</a></li>
	                        <li><a href="/AlgCenter?city=贵州">贵州</a></li>
	                        <li><a href="/AlgCenter?city=甘肃">甘肃</a></li>
	                        <li><a href="/AlgCenter?city=河南">河南</a></li>
	                        <li><a href="/AlgCenter?city=青海">青海</a></li>
	                        <li><a href="/AlgCenter?city=吉林">吉林</a></li>
	                        <li><a href="/AlgCenter?city=云南">云南</a></li>
	                        <li><a href="/AlgCenter?city=江西">江西</a></li>
	                        <li><a href="/AlgCenter?city=湖南">湖南</a></li>
	                        <li><a href="/AlgCenter?city=重庆">重庆</a></li>
	                        <li><a href="/AlgCenter?city=湖北">湖北</a></li>
	                        <li><a href="/AlgCenter?city=新疆">新疆</a></li>
	                        <li><a href="/AlgCenter?city=陕西">陕西</a></li>
	                        <li><a href="/AlgCenter?city=黑龙江">黑龙江</a></li>
	                        <li><a href="/AlgCenter?city=内蒙古">内蒙古</a></li>
	                    </ul>
	                </div>
	            </div>
	    </div>
	    <!--更多地址-->
	    <div class="center-proli">
		    <div class="ct">
		        <div class="proli-mn">
		            <h3>
		                <form id="form1">
		                    <div class="search">
		                        <input type="text" name="city" class="search-inp" id="centername" placeholder="请输入中心名称或关键字" value="" autocomplete="off">
		                        <a id="btnserch" style="cursor: pointer" class="search-btn"><span class="search-btn-icon"></span>搜索</a>
		                    </div>
		                </form>
		                <div class="title" id="pro" th:text="${city}">北京</div>
		            </h3>
		            <ul class="clearfix" id="centerlist">
						<div th:if="${#lists.isEmpty(centerList)}">
							<h1 style="text-align:  center;padding: 20px;">该地区暂时没有分部</h1>
						</div>
		                <li th:each="center : ${centerList}">
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img th:src="${center.imagePath}"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="images/center/add-icon.png"></p>
		                                <p class="add-name" th:text="${center.address}"></p>
		                                <p class="add-ph" th:text="${center.telephone}"><span class="ph-icon"></span></p>
		                            </span>
		                        </div>
		                        <p class="name" th:text="${center.name}"></p>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
	    <!--更多功能-->
		<div class="many">
		    <div class="many-box">
		        <h3 class="tit"><img src="../images/contact/more.png"></h3>
		        <div class="name">更多爱灵格</div>
		        <div class="txt">了解更多关于爱灵格的内容</div>
		        <div class="mode">
		            <ul class="show wow flipInX animated">
		                <li>
		                    <a href="/AlgCourse">
		                        <span class="icon"><img src="../images/contact/1.png"></span>
		                        <div class="mode-info">
		                            <h3>爱灵格课程</h3>
		                            <span>CURRICULUM</span>
		                            <em></em>
		                        </div>
		
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/AlgCenter">
		                        <span class="icon"><img src="../images/contact/2.png"></span>
		                        <div class="mode-info">
		                            <h3>中心查询</h3>
		                            <span>RETAIL STORE</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/JoinUs">
		                        <span class="icon"><img src="../images/contact/3.png"></span>
		                        <div class="mode-info">
		                            <h3>免费试听</h3>
		                            <span>FREE AUDITION</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
	</div> 
	
<div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/JoinUs">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
<script type="text/javascript" src="../js/jquery.slides.min.js" ></script>
<script type="text/javascript" src="../js/sHover.min.js" ></script>
<script type="text/javascript">
//插件调用
    $('#city').slidesjs({
        width: 530,
        height: 200,
        navigation: false,
        play: {
            active: false,
            auto: true,
            interval: 4000,
            swap: true
        }
    });
    var pic = new sHover("show-mask", "mask");
</script>
</html>

