<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>爱灵格课程</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/AlgCourse.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../js/banner.jQuery.min.js" ></script>
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <div class="screen">
	    	<img src="../images/course/screen.png" >
	    </div>
	    <!--咨询-->
	    <div class="information wow animated swing">
            <ul>
                <li><a id="zixun1" style="cursor:pointer;display: block;height: 72px;" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes"></a></li>
                <li class="server-line"><a style="cursor:pointer;display: block;height: 72px;" href="JoinUs.html"></a></li>

            </ul>
            <div class="a-icon animated ">
            	<img src="../images/course/dq.png">
            </div>
        </div>
        <div class="classroom-til">
		    <div class="name">爱灵格课程</div>
		    <div class="e-name">专注婴幼儿及青少年潜能发展及教学研究</div>
		    <div class="txt">遵循宝宝天性  开发宝宝潜能</div>
		</div>
		<!--展示窗-->
		<div class="classroom-mn">
		    <dl class="clearfix ybld">
		        <dt class="fr big-pic"><img class="pics" src="../images/course/1.png"></dt>
		        <dd class="fl">
		            <div class="content">
		                <p class="e-name">ETAR感统多语</p>
		                <p class="name">体验性教学</p>
		                <p class="txt">幼儿小学版）内容：幼儿园到大学的中英文词汇，背英语单词像说26格字母一样流畅，说英语像母语一样流畅。
										记忆方式：路径记忆，图像记忆，韵律记忆，体觉记忆（记忆舞蹈）
										效果：第一步，26个场景，26首歌，26支舞，740个单词，略差        
										小学词汇量；第二步，通过26歌场景740个动作学会740句话。
										</p>
		                <a href="ContactUs.html" class="btn">
		                    <span class="xq">查看课程详细</span>
		                </a>
		            </div>
		        </dd>
		    </dl>
					
		    <dl class="clearfix ybyl">
		        <dt class="fl big-pic"><img class="pics" src="../images/course/2.png"></dt>
		        <dd class="fr">
		            <div class="content">
		                <p class="e-name">ETAR phonics</p>
		                <p class="name">体验性教学</p>
		                <p class="txt">4个场景4首歌，速记小学初中英语词汇
										内容：小学到初中的常见词汇
										记忆方式：路径记忆，图像记忆，韵律记忆，
										效果：10-25节课，学会常见单词的拼法，并能按照顺序背下来
										</p>
		                <a href="ContactUs.html" class="btn">
		                    <span class="xq">查看课程详细</span>
		                </a>
		            </div>
		        </dd>
		    </dl>
					
		    <dl class="clearfix ybcy">
		        <dt class="fr big-pic"><img class="pics" src="../images/course/3.png"></dt>
		        <dd class="fl">
		            <div class="content">
		                <p class="e-name">ETAR 单词演唱会</p>
		                <p class="name">体验性教学</p>
		                <p class="txt">9首歌速记4000词，背英语单词像背汉语口诀
										内容：小学到高中常见词汇
										记忆方式：韵文（英文诗歌）记忆，路径记忆、图像记忆、韵律记忆、体觉记忆（记忆操）
										效果：第一步，10-20节课，9首歌26段用102句韵文诗（1833个   高频词）、102句话，达到4000以上词汇（高考词汇）
										</p>
		                <a href="ContactUs.html" class="btn">
		                   <span class="xq">查看课程详细</span>
		                </a>
		            </div>
		        </dd>
		    </dl>
		</div>
	<!--轮播图-->
		<div class="banner">
		    <div class="banner-box">		
		        <div class="environment-mn show">
		            <div class="big-img" style="overflow: hidden; width: 725px; height: 545px;">
		                <ul style="position: absolute; width: 2900px; left: -725px;">
		                	<li style="display: inline; float: left;"><img class="pics" src="../images/course/1.png" alt="为孩子创造一个丰富多彩安全的教学环境" style="width: 725px; height: 545px;"></li>
		                	<li style="display: inline; float: left;"><img class="pics" src="../images/course/2.png" alt="为孩子创造一个丰富多彩安全的教学环境" style="width: 725px; height: 545px;"></li>
		                	<li style="display: inline; float: left;"><img class="pics" src="../images/course/3.png" alt="为孩子创造一个丰富多彩和舒适安全的教学环境" style="width: 725px; height: 545px;"></li>
		                	<li style="display: inline; float: left;"><img class="pics" src="../images/course/1.png" alt="为孩子创造一个丰富多彩安全的教学环境" style="width: 725px; height: 545px;"></li>
		                </ul>
		            </div>
		            <div class="desc" style="z-index: 2;">
		            	<p class="title desc-title">为孩子创造一个丰富多彩安全的教学环境</p>
		            </div>
		            <div class="fr">
		                <div class="btn">
		                    <a href="javascript:" class="prve"></a>
		                    <a href="javascript:" class="next"></a>
		                </div>
		            </div>
		            <div class="icon"></div>
		        </div>
		    </div>
		</div>
	<script>
	
	    $(".big-img").YuxiSlider({
	        width:725, //容器宽度 
	        height:545, //容器高度
	        control:$('.environment-mn .btn a'), //绑定控制按钮
	        during:3000, //间隔3秒自动滑动
	        speed:800, //移动速度0.8秒
	        direkey:true //是否开启左右箭头方向控制
	    });

	</script>
		
		
	</div>   
	
<div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="JoinUs.html">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="html/AlgCenter.html">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="ContactUs.html">关于我们</a></dt>
                    <dd><a onclick="location.href='ContactUs.html'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='ContactUs.html'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='ContactUs.html'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='ContactUs.html'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="AlgCourse.html">爱灵格特色</a></dt>
                    <dd><a href="AlgCourse.html">ETAR多语</a></dd>
                    <dd><a href="AlgCourse.html">ETAR汉语</a></dd>
                    <dd><a href="AlgCourse.html">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="Teacher.html">专家师资</a></dt>
                    <dd><a href="Teacher.html">专家团队</a></dd>
                    <dd><a onclick="location.href='Teacher.html'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="News.html">新闻动态</a></dt>
                    <dd><a href="News.html">早教新闻</a></dd>
                    <dd><a href="News.html">行业动态</a></dd>
                    <dd><a href="News.html">企业动态</a></dd>
                    <dd><a href="News.html">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="JoinUs.html">加盟我们</a></dt>
                    <dd><a onclick="location.href='JoinUs.html'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='JoinUs.html'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='JoinUs.html'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='JoinUs.html'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="ContactUs.html">联系我们</a></dt>
                    <dd><a href="ContactUs.html">联系方式</a></dd>
                    <dd><a href="ContactUs.html">中心查询</a></dd>
                    <dd><a href="ContactUs.html">招聘信息</a></dd>
                    <dd><a href="ContactUs.html">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/algCourse.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
</html>
