<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>爱灵格中心</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/AlgCenter.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <div class="screen">
	    	<img src="../images/center/1.png" >
	    	<div class="city-mn wow animated fadeInUp">
	                
	                <div class="city-li">
	                	<div class="city-til">请选择您的城市</div>
	                    <ul>
	                        <li><a class="active" href="/Center?pro=%E5%8C%97%E4%BA%AC%E5%B8%82">北京</a></li>
	                        <li><a href="/Center?pro=%E5%B1%B1%E4%B8%9C%E7%9C%81">山东</a></li>
	                        <li><a href="/Center?pro=%E6%B1%9F%E8%8B%8F%E7%9C%81">江苏</a></li>
	                        <li><a href="/Center?pro=%E5%AE%89%E5%BE%BD%E7%9C%81">安徽</a></li>
	                        
	                        <li><a href="/Center?pro=%E5%B1%B1%E8%A5%BF%E7%9C%81">山西</a></li>
	                        <li><a href="/Center?pro=%E7%A6%8F%E5%BB%BA%E7%9C%81">福建</a></li>
	                        <li><a href="/Center?pro=%E4%B8%8A%E6%B5%B7%E5%B8%82">上海</a></li>
	                        <li><a href="/Center?pro=%E6%B5%B7%E5%8D%97%E7%9C%81">海南</a></li>
	                        <li><a href="/Center?pro=%E5%9B%9B%E5%B7%9D%E7%9C%81">四川</a></li>
	                        <li><a href="/Center?pro=%E6%B5%99%E6%B1%9F%E7%9C%81">浙江</a></li>
	                        <li><a href="/Center?pro=%E6%B2%B3%E5%8C%97%E7%9C%81">河北</a></li>
	                        
	                        <li><a href="/Center?pro=%E8%BE%BD%E5%AE%81%E7%9C%81">辽宁</a></li>
	                        <li><a href="/Center?pro=%E5%B9%BF%E4%B8%9C%E7%9C%81">广东</a></li>
	                        <li><a href="/Center?pro=%E5%A4%A9%E6%B4%A5%E5%B8%82">天津</a></li>
	                        <li><a href="/Center?pro=%E8%B4%B5%E5%B7%9E%E7%9C%81">贵州</a></li>
	                        <li><a href="/Center?pro=%E7%94%98%E8%82%83%E7%9C%81">甘肃</a></li>
	                        <li><a href="/Center?pro=%E6%B2%B3%E5%8D%97%E7%9C%81">河南</a></li>
	                        <li><a href="/Center?pro=%E9%9D%92%E6%B5%B7%E7%9C%81">青海</a></li>
	                        <li><a href="/Center?pro=%E5%90%89%E6%9E%97%E7%9C%81">吉林</a></li>
	                        <li><a href="/Center?pro=%E4%BA%91%E5%8D%97%E7%9C%81">云南</a></li>
	                        <li><a href="/Center?pro=%E6%B1%9F%E8%A5%BF%E7%9C%81">江西</a></li>
	                        <li><a href="/Center?pro=%E6%B9%96%E5%8D%97%E7%9C%81">湖南</a></li>
	                        <li><a href="/Center?pro=%E9%87%8D%E5%BA%86%E5%B8%82">重庆</a></li>
	                        <li><a href="/Center?pro=%E6%B9%96%E5%8C%97%E7%9C%81">湖北</a></li>
	                        <li><a href="/Center?pro=%E6%96%B0%E7%96%86%E7%BB%B4%E5%90%BE%E5%B0%94%E6%97%8F%E8%87%AA%E6%B2%BB%E5%8C%BA">新疆</a></li>
	                        <li><a href="/Center?pro=%E9%99%95%E8%A5%BF%E7%9C%81">陕西</a></li>
	                        <li><a href="/Center?pro=%E9%BB%91%E9%BE%99%E6%B1%9F%E7%9C%81">黑龙江</a></li>
	                        <li><a href="/Center?pro=%E5%86%85%E8%92%99%E5%8F%A4%E8%87%AA%E6%B2%BB%E5%8C%BA">内蒙古</a></li>
	                    </ul>
	                </div>
	            </div>
	    </div>
	    <!--更多地址-->
	    <div class="center-proli">
		    <div class="ct">
		        <div class="proli-mn">
		            <h3>
		                <form id="form1">
		                    <div class="search">
		                        <input type="hidden" name="pro" value="北京市">
		                        <input type="hidden" id="DistributorId">
		                        <input type="text" name="centername" class="search-inp" id="centername" placeholder="请输入中心名称或关键字" value="" autocomplete="off">
		                        <a id="btnserch" style="cursor: pointer" class="search-btn"><span class="search-btn-icon"></span>搜索</a>
		                    </div>
		                </form>
		                <div class="title" id="pro">北京</div>
		            </h3>
		            <ul class="clearfix" id="centerlist">
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市太阳宫爱琴海购物中心三层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-57458852</p>
		                            </span>
		                        </div>
		                        <p class="name">北京太阳宫早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 0px; left: -285px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市朝阳朝阳区湖景东路9号新奥购物中心H2-07</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-84377989</p>
		                            </span>
		                        </div>
		                        <p class="name">北京亚运村早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市昌平区回龙观西大街美国悦宝园早教中心（上品折扣三层西侧）</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-60728989</p>
		                            </span>
		                        </div>
		                        <p class="name">北京回龙观早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市昌平昌平区天通中苑F区华联购物中心三层F3-23</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-57859868</p>
		                            </span>
		                        </div>
		                        <p class="name">北京天通苑早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市顺义顺义金街华联购物中心3F南侧</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-53672955</p>
		                            </span>
		                        </div>
		                        <p class="name">北京顺义早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市朝阳区青年路甘露园南里尚街购物中心2层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-85590058</p>
		                            </span>
		                        </div>
		                        <p class="name">北京甘露园早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市朝阳区东坝中路金隅嘉品Mall三层L3/17/19</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-65766011</p>
		                            </span>
		                        </div>
		                        <p class="name">北京东坝早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市大兴区亦庄经济技术开发区科创五街经海二路北京城乡世纪广场三层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-67851196</p>
		                            </span>
		                        </div>
		                        <p class="name">北京大兴城乡世纪早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市丰台区大成路6号院1号楼物美大卖场一层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>57115358</p>
		                            </span>
		                        </div>
		                        <p class="name">北京丰台大成物美早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市丰台区草桥东路上品折扣三层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>01067560508</p>
		                            </span>
		                        </div>
		                        <p class="name">北京丰台草桥上品早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市石景山区苹果园南路9号乐活美汇三层</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-68860030､68863510</p>
		                            </span>
		                        </div>
		                        <p class="name">北京苹果园早教中心</p>
		                    </a>
		                </li>
		                <li>
		                    <a href="#">
		                        <div class="pic show-mask" style="overflow: hidden;">
		                            <span><img src="../images/center/center-img.png"></span>
		                            <span class="mask" style="position: absolute; width: 285px; height: 214px; top: 214px; left: 0px; z-index: 1; opacity: 1;">
		                                <p class="add-icon"><img src="../images/center/add-icon.png"></p>
		                                <p class="add-name">北京市通州区新华西街61号怡佳家园2层8-1-15</p>
		                                <p class="add-ph"><span class="ph-icon"></span>010-60530122</p>
		                            </span>
		                        </div>
		                        <p class="name">北京通州北苑早教中心</p>
		                    </a>
		                </li>
		
		            </ul>
		        </div>
		        <!--<div class="center-page">
		            <ul class="pagination"><li><a class="prve" href="http://www.rompy.cn:80/Center/Index?pageindex=1">  </a></li><li><a style="color:black;border:none;" href="http://www.rompy.cn:80/Center/Index?pageindex=1"> 1</a></li><li><a href="http://www.rompy.cn:80/Center/Index?pageindex=2"> 2 </a></li><li><a href="http://www.rompy.cn:80/Center/Index?pageindex=3"> 3 </a></li><li><a class="next" href="http://www.rompy.cn:80/Center/Index?pageindex=2">  </a></li></ul>
		        </div>-->
		    </div>
		</div>
	    <!--更多功能-->
		<div class="many">
		    <div class="many-box">
		        <h3 class="tit"><img src="../images/contact/more.png"></h3>
		        <div class="name">更多爱灵格</div>
		        <div class="txt">了解更多关于爱灵格的内容</div>
		        <div class="mode">
		            <ul class="show wow flipInX animated">
		                <li>
		                    <a href="/AlgCourse">
		                        <span class="icon"><img src="../images/contact/1.png"></span>
		                        <div class="mode-info">
		                            <h3>爱灵格课程</h3>
		                            <span>CURRICULUM</span>
		                            <em></em>
		                        </div>
		
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/AlgCenter">
		                        <span class="icon"><img src="../images/contact/2.png"></span>
		                        <div class="mode-info">
		                            <h3>中心查询</h3>
		                            <span>RETAIL STORE</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/JoinUs">
		                        <span class="icon"><img src="../images/contact/3.png"></span>
		                        <div class="mode-info">
		                            <h3>免费试听</h3>
		                            <span>FREE AUDITION</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
	</div> 
	
<div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/JoinUs">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
<script type="text/javascript" src="../js/jquery.slides.min.js" ></script>
<script type="text/javascript" src="../js/sHover.min.js" ></script>
<script type="text/javascript">
//插件调用
    $('#city').slidesjs({
        width: 530,
        height: 200,
        navigation: false,
        play: {
            active: false,
            auto: true,
            interval: 4000,
            swap: true
        }
    });
    var pic = new sHover("show-mask", "mask");
</script>
</html>

