<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/ContactUs.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
		
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!--联系信息-->
	    <div class="wapper">
		    <div class="wapper-box">
		       <div class="address">
		       		 <img src="../images/contact/address.png" class="wow animated bounceInDown">
		       </div>
						
		        <div class="map">
		            <img src="../images/contact/map.png">
		        </div>
		    </div>
		</div>
		<!--在线留言-->
		<div class="join">
		    <div class="join-box">
		    	<img src="../images/contact/4.png" class="sun">
		    	<img src="../images/contact/5.png" class="umbrella">
		        <div class="content wow animated flipInX" id="divform">
		            <dl>
		                <dt>姓名</dt>
		                <dd><input type="text" class="info" name="" id="name" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>手机号</dt>
		                <dd><input type="text" class="info" name="" id="mobile" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>电子邮箱</dt>
		                <dd><input type="text" class="info" name="" id="email" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>内容</dt>
		                <dd><textarea class="area" id="comment"></textarea></dd>
		            </dl>
		            <dl>
		                <dt><a class="refer" data-loading-text="正在提交..." style="cursor: pointer" id="formsubmit">提交</a></dt>
		            </dl>
		            <div class="title">
		                <div class="t-name">在线留言</div>
		                <div class="t-e-name">ONLINE MESSAGE</div>
		            </div>
		            <div class="pic">
		            	<img src="../images/contact/dq.png">
		            </div>
		        </div>
		
		    </div>
		</div>
		<!--更多功能-->
		<div class="many">
		    <div class="many-box">
		        <h3 class="tit"><img src="../images/contact/more.png"></h3>
		        <div class="name">更多爱灵格</div>
		        <div class="txt">了解更多关于爱灵格的内容</div>
		        <div class="mode">
		            <ul class="show wow flipInX animated">
		                <li>
		                    <a href="/AlgCourse">
		                        <span class="icon"><img src="../images/contact/1.png"></span>
		                        <div class="mode-info">
		                            <h3>爱灵格课程</h3>
		                            <span>CURRICULUM</span>
		                            <em></em>
		                        </div>
		
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/AlgCenter">
		                        <span class="icon"><img src="../images/contact/2.png"></span>
		                        <div class="mode-info">
		                            <h3>中心查询</h3>
		                            <span>RETAIL STORE</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/JoinUs">
		                        <span class="icon"><img src="../images/contact/3.png"></span>
		                        <div class="mode-info">
		                            <h3>免费试听</h3>
		                            <span>FREE AUDITION</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
		
	</div>   
	
<div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/JoinUs">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
</html>


