<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/include.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/ContactUs.css" />
		
		<script type="text/javascript" src="../../static/js/jquery.min.js" ></script>
		
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../../static/images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AboutUs">关于我们</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!--联系信息-->
	    <div class="wapper">
		    <div class="wapper-box">
		       <div class="address">
		       		 <img src="../../static/images/contact/address.png">
		       </div>
						
		        <div class="map">
		            <img src="../../static/images/contact/map.png">
		        </div>
		    </div>
		</div>
		<!--在线留言-->
		<div class="join">
		    <div class="join-box">
		        <div class="content" id="divform">
		            <dl>
		                <dt>姓名</dt>
		                <dd><input type="text" class="info" name="" id="name" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>手机号</dt>
		                <dd><input type="text" class="info" name="" id="mobile" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>电子邮箱</dt>
		                <dd><input type="text" class="info" name="" id="email" value=""></dd>
		            </dl>
		
		            <dl>
		                <dt>内容</dt>
		                <dd><textarea class="area" id="comment"></textarea></dd>
		            </dl>
		            <dl>
		                <dt><a class="refer" data-loading-text="正在提交..." style="cursor: pointer" id="formsubmit">提交</a></dt>
		            </dl>
		            <div class="title">
		                <div class="t-name">在线留言</div>
		                <div class="t-e-name">ONLINE MESSAGE</div>
		            </div>
		            <div class="pic">
		            	<img src="../../static/images/contact/dq.png">
		            </div>
		        </div>
		
		    </div>
		</div>
		<!--更多功能-->
		<div class="many">
		    <div class="many-box">
		        <h3 class="tit"><img src="../../static/images/contact/more.png"></h3>
		        <div class="name">更多爱灵格</div>
		        <div class="txt">了解更多关于爱灵格的内容</div>
		        <div class="mode">
		            <ul class="show">
		                <li>
		                    <a href="http://www.rompy.cn/ClassRoom/Index">
		                        <span class="icon"><img src="../../static/images/contact/1.png"></span>
		                        <div class="mode-info">
		                            <h3>爱灵格课程</h3>
		                            <span>CURRICULUM</span>
		                            <em></em>
		                        </div>
		
		                    </a>
		                </li>
		
		                <li>
		                    <a href="http://www.rompy.cn/Center/Index">
		                        <span class="icon"><img src="../../static/images/contact/2.png"></span>
		                        <div class="mode-info">
		                            <h3>中心查询</h3>
		                            <span>RETAIL STORE</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		
		                <li>
		                    <a href="http://www.rompy.cn/Apply/Index">
		                        <span class="icon"><img src="../../static/images/contact/3.png"></span>
		                        <div class="mode-info">
		                            <h3>免费试听</h3>
		                            <span>FREE AUDITION</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
		
	<div/>    
	     <!--footer-->
    <div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<ul>
	            <li>
	                <a href="http://www.rompy.cn/Apply/Index">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="http://www.rompy.cn/Center/Index">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../../static/images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../../static/images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <li>
	                <a href="http://www.rompykids.cn" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../../static/images/codes.png"></dt>
                    
                    <dd>关注“悦宝园教育”美式早教get起来</dd>
                </dl>
                <dl>
                    <dt><img src="../../static/images/codes.png"></dt>
                    
                    <dd>关注“悦宝园教育”美式早教get起来</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="http://www.rompy.cn/AboutUs/Index">关于我们</a></dt>
                    <dd><a onclick="location.href='http://www.rompy.cn/AboutUs/Index#jieshao'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/AboutUs/Index#pingpai'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/AboutUs/Index#zhexue'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/AboutUs/Index#jiangxiang'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.rompy.cn/ClassRoom/Index">爱灵格特色</a></dt>
                    <dd><a href="http://www.rompy.cn/ClassRoom/lingdong">ETAR多语</a></dd>
                    <dd><a href="http://www.rompy.cn/ClassRoom/yunlv">ETAR汉语</a></dd>
                    <dd><a href="http://www.rompy.cn/ClassRoom/chuangyi">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.rompy.cn/Teacher/Index">专家师资</a></dt>
                    <dd><a href="http://www.rompy.cn/Teacher/Index">专家团队</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/Teacher/Index#tea-renzhen'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.rompy.cn/News/Index">新闻动态</a></dt>
                    <dd><a href="http://www.rompy.cn/News/Index">早教新闻</a></dd>
                    <dd><a href="http://www.rompy.cn/News/XuZhi">行业动态</a></dd>
                    <dd><a href="http://www.rompy.cn/News/MeiTi">企业动态</a></dd>
                    <dd><a href="http://www.rompy.cn/News/BoShi">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.rompy.cn/Join/Index">加盟我们</a></dt>
                    <dd><a onclick="location.href='http://www.rompy.cn/Join/Index#qianjing'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/Join/Index#youshi'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/Join/Index#yunying'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='http://www.rompy.cn/Join/Index#zixun'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="http://www.rompy.cn/Contact/Index">联系我们</a></dt>
                    <dd><a href="http://www.rompy.cn/Contact/Index">联系方式</a></dd>
                    <dd><a href="http://www.rompy.cn/Center/Index">中心查询</a></dd>
                    <dd><a href="http://www.rompy.cn/Recruite/Index">招聘信息</a></dd>
                    <dd><a href="http://www.rompy.cn/Apply/Index">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
</html>


