<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<title>加盟我们</title>
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/simpleAlert.css" />
		<link rel="stylesheet" type="text/css" href="../css/include.css" />
		<link rel="stylesheet" type="text/css" href="../css/JoinUs.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.min.css" />
		<script type="text/javascript" src="../js/jquery.min.js" ></script>
        <script type="text/javascript" src="../js/all.js" ></script>
		<script type="text/javascript" src="../js/simpleAlert.js" ></script>
	</head>
<body>
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="../images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <div class="screen">
	    	<img src="../images/join/srceen.png"class="wow animated flipInY" >
	    </div>
 
	    <div class="classroom-til">
		    <div class="name">市场前景</div>
		    <div class="e-name">巨大的早教市场潜力 开启教育企业新时代</div>
		</div>
		<div class="screen2">
			<img src="../images/join/1.png" class="wow animated fadeInUp">
		</div>
		<div class="classroom-til">
		    <div class="name">品牌优势</div>
		    <div class="e-name">brand process</div>
		    <div class="txt wow animated fadeInLeft">采用体验式教学和母语机制学习法，不仅符合孩子的天性，能够充分调动孩子学习的兴趣和积极性，而且效率高，孩子记得快，<br>记得牢，还理解深刻。更加鲜活有趣，比起课堂学习的，脱离孩子生活实际的枯燥的书面知识更能引起孩子学习的兴趣和积极性。</div>
		</div>
	    <div class="screen3">
	    	<div class="screen3-box">
				<img src="../images/join/2.png" class="wow animated rotateIn">
			</div>
		</div>
		<div class="screen4">
			<div class="screen4-box">
				<p class="tit1">中国爱灵格中心分布图</p>
				<img src="../images/join/3.png">
				<p class="tit2">更多爱灵格加盟中......</p>
			</div>
		</div>
		<div class="screen5">
			<div class="screen5-box">
				<p class="tit1 wow animated fadeInUp">所有课程都由“江南怪才”</p>
				<p class="tit2 wow animated fadeInUp">早教界传奇人物尚加富领衔研发</p>
				<p class="tit3 wow animated fadeInUp">技术方案申请国家专利</p>
				<img src="../images/join/4.png" class="m1" style="width: 55%;height: 660px;">
				<img src="../images/join/5.png" class="m2">
				<img src="../images/join/6.png" class="m3">
				<img src="../images/join/7.png" class="m4">
				<p class="tit4">生活体验到多语课件即时拍摄，即时生成</p>
			</div>
		</div>
		<div class="screen6">
			<div class="screen6-box wow animated bounce">
				<div class="up">
					<img src="../images/join/10.png" class="n1">
					<div class="point1">
						<span class="ti">1、ETAR感统多语</span><br>
						（幼儿小学版）内容：幼儿园到大学的中英文词汇，背英语单词像说26格字母一样流畅，说英语像母语一样流畅。<br>
						记忆方式：路径记忆，图像记忆，韵律记忆，体觉记忆（记忆舞蹈）<br>
						效果：第一步，26个场景，26首歌，26支舞，740个单词，略差小学词汇量<br>
						第二步，通过26歌场景740个动作学会740句话<br>
					</div>
					<div class="point2">
						<span class="ti">3、ETAR   phonics</span><br>
						4个场景4首歌，速记小学初中英语词汇<br>
						内容：小学到初中的常见词汇<br>
						记忆方式：路径记忆，图像记忆，韵律记忆，<br>
						效果：10-25节课，学会常见单词的拼法，并能按照顺序背下来<br>
					</div>
					<div class="point3">
						<span class="ti">4、ETAR  单词演唱会</span><br>
						9首歌速记4000词，背英语单词像背汉语口诀<br>
						内容：小学到高中常见词汇<br>
						记忆方式：韵文（英文诗歌）记忆，路径记忆、图像记忆、韵律记忆、体觉记忆（记忆操）<br>
						效果：第一步，10-20节课，9首歌26段用102句韵文诗（1833个高频词）、102句话，达到4000以上词汇（高考词汇）<br>
					</div>
					<div class="point4">
				</div>
				</div>
				<div class="np">
					<img src="../images/join/8.png" class="n2 wow animated swing">
				</div>
			</div>
		</div>
		<!--加盟资讯-->
		<div class="join-news" id="zixun" name="zixun">
		    <div class="news-box">
		        <div class="name">爱灵格加盟资讯</div>
		        <div class="j-news-mn wow animated fadeInUp">
		            <ul class="clearfix">
						<li th:each="news,iterStat : ${newsList}" th:if="${iterStat.index ge 0 && iterStat.index le 2}">
							<a th:href="'/News/Details/'+${news.id}">
								<p class="pic">
									<img width="407" height="250" th:src="${news.imagePath}">
								</p>
								<p class="txt">
									<span th:text="${news.brief}"></span>
								</p>
								</a><p class="link"><a href="/News"></a><a href="/News">查看详情&gt;</a></p>
						</li>
		            </ul>
		        </div>
		    </div>
		</div>
		
		
		<!--在线留言-->
		<div class="join">
		    <div class="join-box">
                <form class = "join-form" name="join" th:action="@{/JoinUs/create}" th:method="post">
                    <div class="content wow animated flipInX" id="divform">
                        <dl>
                            <dt>姓名</dt>
                            <dd><input type="text" class="info" name="name" id="name" value=""></dd>
                        </dl>

                        <dl>
                            <dt>手机号</dt>
                            <dd><input type="text" class="info" name="telephone" id="telephone" value=""></dd>
                        </dl>

                        <dl>
                            <dt>电子邮箱</dt>
                            <dd><input type="text" class="info" name="email" id="email" value=""></dd>
                        </dl>

                        <dl>
                            <dt>内容</dt>
                            <dd><textarea class="area" id="content" name="content"></textarea></dd>
                        </dl>
                        <dl>
                            <dt><a class="refer" data-loading-text="正在提交..." style="cursor: pointer" id="formsubmit">提交</a></dt>
                        </dl>
                        <input type="text" name="type" id="type" value="加盟咨询" style="display: none">
                        <div class="title">
                            <div class="t-name">在线留言</div>
                            <div class="t-e-name">ONLINE MESSAGE</div>
                        </div>
                        <div class="pic">
                            <img src="../images/contact/dq.png">
                        </div>
                    </div>
                </form>
		    </div>
		</div>
		<!--更多功能-->
		<div class="many">
		    <div class="many-box">
		        <h3 class="tit"><img src="../images/contact/more.png"></h3>
		        <div class="name">更多爱灵格</div>
		        <div class="txt">了解更多关于爱灵格的内容</div>
		        <div class="mode">
		            <ul class="show wow flipInX animated">
		                <li>
		                    <a href="/AlgCourse">
		                        <span class="icon"><img src="../images/contact/1.png"></span>
		                        <div class="mode-info">
		                            <h3>爱灵格课程</h3>
		                            <span>CURRICULUM</span>
		                            <em></em>
		                        </div>
		
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/AlgCenter">
		                        <span class="icon"><img src="../images/contact/2.png"></span>
		                        <div class="mode-info">
		                            <h3>中心查询</h3>
		                            <span>RETAIL STORE</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		
		                <li>
		                    <a href="/JoinUs">
		                        <span class="icon"><img src="../images/contact/3.png"></span>
		                        <div class="mode-info">
		                            <h3>免费试听</h3>
		                            <span>FREE AUDITION</span>
		                            <em></em>
		                        </div>
		                    </a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</div>
    </div> 
    
<div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/JoinUs">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="../images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="../images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="../images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
         </div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../js/common.js" ></script>
<script type="text/javascript" src="../js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
</html>


