<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<head>
    <title>盘丝洞创意手工</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="#">盘丝洞创意手工</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-primary nav-link">Sign Out</button>
            </form>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/order">
                            <span data-feather="file"></span>
                            订单管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-11 ml-sm-auto px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">订单列表</h1>
                <button class="btn"><a href="/admin/addOrder">添加</a></button>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>电话</th>
                        <th>订单号</th>
                        <th>Number of Pins</th>
                        <th>Number of Lines</th>
                        <th>Line Weight</th>
                        <th>图片路径</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <td th:each="entry : ${order}" th:text="${order.id}"></td>
                        <td th:each="entry : ${order}" th:text="${order.orderPhone}"></td>
                        <td th:each="entry : ${order}" th:text="${order.orderNumber}"></td>
                        <td th:each="entry : ${order}" th:text="${order.orderPins}" ></td>
                        <td th:each="entry : ${order}" th:text="${order.orderLines}"></td>
                        <td th:each="entry : ${order}" th:text="${order.orderWeight}"></td>
                        <td th:each="entry : ${order}" th:text="${order.imagePath}"></td>
                        <td><a th:href="'/admin/deleteOrder/' + ${order.id}">删除</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
</body>
</html>