<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
	<!--pc端不用-->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<title>爱灵格</title>
	<meta name="keywords" content="爱灵格,早慧堂,好学堂,早教">
	<meta name="description" content="爱灵格是一家专业从事潜能发展及教学研究的机构。">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/include.css" />
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" href="css/swiper/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
	<script type="text/javascript" src="js/jquery.min.js" ></script>
	
</head>
<body>
	
	<!--top-->
	<div class="b_header">
	<div class="s_header">
		<div class="logo">
			<a href="#">
				<img src="images/index/logo.png">
			</a>
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index">首页</a></li>
				<li><a href="##">企业入口</a></li>
				<li><a href="/AlgCourse">爱灵格课程</a></li>
				<li><a href="/Teacher">专家师资</a></li>
				<li><a href="/News">新闻动态</a></li>
				<li><a href="/AlgCenter">爱灵格中心</a></li>
				<li><a href="/JoinUs">加盟我们</a></li>
				<li><a href="/ContactUs">联系我们</a></li>
			</ul>
			<div class="phone">
				<span class="call"></span>
				13350808830
			</div>
		</div>
	</div>
	</div>	
    <!--main-->
    <div class="main">
    	 <!-- 巨幕图-->
	    <div class="screen">
	    		<div class="swiper-container swiper-container-horizontal">
				    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
				      <div class="swiper-slide swiper-slide-active" style="width: 1200px; margin-right: 30px;"><img src="images/index/screen.png" ></div>
				      <div class="swiper-slide swiper-slide-next" style="width: 1200px; margin-right: 30px;"><img src="images/index/screen2.png" ></div>
				      <div class="swiper-slide" style="width: 1200px; margin-right: 30px;"><img src="images/index/screen3.png" ></div>
				      <div class="swiper-slide" style="width: 1200px; margin-right: 30px;"><img src="images/index/screen4.png" ></div>
				    </div>
				    <!-- Add Pagination -->
				    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
				    	<span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    	<span class="swiper-pagination-bullet"></span>
				    </div>
				    <!-- Add Arrows -->
				    <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></div>
				    <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></div>
				  	<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
	   			</div>
	     <!-- 第一层-->
	    <div class="floor-one">
	    	<div class="floor-one-box">
	    		<div class="floor-one-box1">
	    			<img src="images/index/ask1.png" >
	    			<img src="images/index/ask2.png" >
	    		</div>
	    		<div class="floor-one-box2 wow animated pulse">
	    			<img src="images/index/chlid.png" >
	    		</div>
	    		<div class="floor-one-box3">
	    			<img src="images/index/line.png" >
	    			<p class="wow animated fadeInDown p1">孩子讨厌学习，没兴趣和积极性，做事效率底下，</p>
	    			<p class="wow animated fadeInDown p2">东西记得慢，记不牢，理解也不深刻。</p>
	    			<p class="wow animated fadeInDown p3">对新鲜事物缺乏学习热情，缺少想象力和创造力。</p>
	    			<p class="wow animated fadeInDown p4">如何帮助孩子度过各个敏感期，让孩子更好的成长？</p>
	    			<img src="images/index/line.png" >
	    		</div>
	    	</div>
	    </div>
	   <!-- 第二层-->
	    <div class="floor-two">
	    	<div class="floor-two-box">
	    		<h2 class="caption wow animated fadeInUp">
		            <div class="caption-img"><img src="images/index/Lesson.png"></div>
		            <div class="name">爱灵格课程</div>
		            <div class="tips">解放身心，释放潜能</div>
		        </h2>
		        <div class="lesson-box">
		            <div class="lesson-left">
		                <ul>
		                    <li class="lesson1 wow animated rotateInUpLeft"><img src="images/index/lesson1.png"></li>
		                    <li class="lesson2 wow animated rotateInUpLeft"><img src="images/index/lesson2.png"></li>
		                    <li class="lesson3 wow animated rotateInUpLeft"><img src="images/index/lesson3.png"></li>
		                </ul>
		            </div>
		            <div class="lesson-right wow animated bounceInRight">
		                <div class="name">
		                    <p>爱灵格</p>
		                    <p>帮父母解决培养难题</p>
		                </div>
		                <div class="txt">
		                    <p>国家教育专利，通过场景体验来学</p>
		                    <p>习，孩子门需要用到所有的感官，全</p>
		                    <p>方位的感知万事万物</p>
		                </div>
		                <a href="/AlgCourse" class="lesson-btn" ></a>
		            </div>
		        </div>
		        <div class="server-title">
		            <div class="name">其实，每个宝宝很有天分</div>
		            <div class="tips">
		                <p>宝宝成才之路，从爱灵格开始……</p>
		                <p>科学完善的课程体系，全面开发孩子潜能</p>
		            </div>
		            <div class="server-ph">133-5080-8830</div>
		            <div class="feature">
		                <ul>
		                    <li>
		                        <span class="strong"></span>
		                        	特色课程实时更新
		                    </li>
		                    <li>
		                        <span class="strong"></span>
		                        	家中心持续增长
		                    </li>
		                    <li>
		                        <span class="strong"></span> 近百万家庭的优先选择
		                    </li>
		                </ul>
		            </div>
		
		            <div class="information">
		                <ul>
		                    <li><a id="zixun1" style="cursor:pointer;display: block;height: 72px;" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes"></a></li>
		                    <li class="server-line"><a style="cursor:pointer;display: block;height: 72px;" href="/ContactUs#join"></a></li>
		
		                </ul>
		                <div class="a-icon animated "><img src="images/index/floor-two-aicon.png"></div>
		            </div>
		            
		        </div>
	    	</div>
	    </div>
	     	
	    <!-- 第三层-->
	    <div class="floor-three">
		    <div class="floor-three-box wow animated flipInY">
		    	<img src="images/index/sgirl.png" />
		    	<img src="images/index/ask3.png" />
		    	<img src="images/index/ask4.png" />
		        <div class="girl">
		            <a href="/AboutUs" class="lesson-btn">了解更多</a>
		        </div>
		    </div>
		</div>
		<div class="about">
			<div class="about-box">
				<h2 class="wow animated fadeInUp">
					<div class="title-img"><img src="images/index/Aboutus.png"></div>
					<div class="name">关于我们</div>
					<div class="tips">专业从事潜能发展及教学研究</div>
				</h2>
				<img class="cap" src="images/index/outline.png">
			</div>
			<div class="photo wow animated lightSpeedIn">
				<ul>
					<li><img src="images/index/a1.png"></li>
					<li><img src="images/index/a2.png"></li>
					<li><img src="images/index/a3.png"></li>
					<li><img src="images/index/a4.png"></li>
				</ul>
			</div>
			<div class="besides">
				<p>好学堂荣获多项成就，是国内第一家，真正把学习、生活、游戏三合一的机构</p>
				<a href="html/ContactUs.html#join" class="about-btn">点击了解更多详情</a>
			</div>
		</div>
	   <!--第四层-->
	   <div class="floor-news">
	    <div class="ct clearfix">
	        <h2 class="animated" date-class="rubberBand">
	            <div class="title-img"><img src="images/index/Dynamic.png"></div>
	            <div class="name">学习动态</div>
	            <div class="tips">用所有的感官，全方位的感知万事万物</div>
	        </h2>
	        <div class="news-bigpic animated" date-class="bounce">
	            <ul id="news-bigpic" style="overflow: hidden;">
                    <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 598px; height: 500px;">
                    	<div class="slidesjs-control" style="position: relative; left: 0px; width: 598px; height: 500px;">
                    		<li th:each="news,iterStat  : ${newsList}" th:if="${iterStat.index eq 0}" class="slidesjs-slide" slidesjs-index="1" style="position: absolute; top: 0px; left: 0px; width: 100%; z-index: 10; display: block; backface-visibility: hidden;">
		                        <a th:href="'/News/Details/'+${news.id}">
		                            <img th:src="${news.imagePath}" date-class="animated pulse" width="598" height="464" class="">
		                            <div class="date">
		                                <p class="day" th:text="${news.day}"></p>
		                                <p class="week" th:text="${news.month}"></p>
		                                <p class="month" style="margin-top:-2px;" th:text="${news.year}"></p>
		                            </div>
		                            <div class="big-txt" th:text="${news.brief}"></div>
		                        </a>
                    		</li>
                    	</div>
                    </div>
                </ul>
			</div>
	        <div class="news-li animated" date-class="flipInY">
                <dl class="clearfix" th:each="news,iterStat  : ${newsList}" th:if="${iterStat.index ge 1 && iterStat.index le 4}">
                    <a th:href="'/News/Details/'+${news.id}">
                        <dt>
                            <img th:src="${news.imagePath}" date-class="animated pulse" class="">
                            <div class="date">
								<p class="day" th:text="${news.day}"></p>
								<p class="week" th:text="${news.month}"></p>
								<p class="month" style="margin-top:-2px;" th:text="${news.year}"></p>
                            </div>
                        </dt>
                        <dd th:text="${news.brief}">
                        </dd>
                    </a>
                </dl>
	        </div>
	    </div>
	</div>
	
	<!--第五层-->
	<div class="floor-five">
	    <div class="floor-five-box">
	        <div class="box-left wow animated rotateInDownLeft">
	            <div class="join_tit">
	                <h3>加盟爱灵格</h3>
	                <span>成功从爱灵格开始</span>
	            </div>
	            <div class="name">
	               	 如果您...
	            </div>
	            <div class="left-li">
	                <ul>
	                    <li>喜欢孩子，热爱早教事业</li>
	                    <li>想成功实现自己的创业梦想</li>
	                    <li>拥有战略性的眼光</li>
	                    <li>具备一定的投资能力</li>
	                </ul>
	            </div>
	            <div class="tips">那就别犹豫了，爱灵格是你最好的选择！</div>
	            <div class="number">133-5080-8830</div>
	            <a style="cursor:pointer" class="join-btn" href="/JoinUs"><span class="icon"></span>申请加盟</a>
	        </div>
	        <div class="box-right">
	        	<img class="zs1" src="images/index/88.png">
	        	<img class="zs2" src="images/index/lu.png">
	            <div class="name">查找您身边的爱灵格</div>
	            <div class="tips">让您第一时间找到我们！</div>
	            <div class="city-mn">
	                
	                <div class="city-li">
	                	<div class="city-til">请选择您的城市</div>
	                    <ul>
	                        <li><a class="active" href="/AlgCenter">北京</a></li>
	                        <li><a href="/AlgCenter">山东</a></li>
	                        <li><a href="/AlgCenter">江苏</a></li>
	                        <li><a href="/AlgCenter">安徽</a></li>
	                        
	                        <li><a href="/AlgCenter">山西</a></li>
	                        <li><a href="/AlgCenter">福建</a></li>
	                        <li><a href="/AlgCenter">上海</a></li>
	                        <li><a href="/AlgCenter">海南</a></li>
	                        <li><a href="/AlgCenter">四川</a></li>
	                        <li><a href="/AlgCenter">浙江</a></li>
	                        <li><a href="/AlgCenter">河北</a></li>
	                        
	                        <li><a href="/AlgCenter">辽宁</a></li>
	                        <li><a href="/AlgCenter">广东</a></li>
	                        <li><a href="/AlgCenter">天津</a></li>
	                        <li><a href="/AlgCenter">贵州</a></li>
	                        <li><a href="/AlgCenter">甘肃</a></li>
	                        <li><a href="/AlgCenter">河南</a></li>
	                        <li><a href="/AlgCenter">青海</a></li>
	                        <li><a href="/AlgCenter">吉林</a></li>
	                        <li><a href="/AlgCenter">云南</a></li>
	                        <li><a href="/AlgCenter">江西</a></li>
	                        <li><a href="/AlgCenter">湖南</a></li>
	                        <li><a href="/AlgCenter">重庆</a></li>
	                        <li><a href="/AlgCenter">湖北</a></li>
	                        <li><a href="/AlgCenter">新疆</a></li>
	                        <li><a href="/AlgCenter">陕西</a></li>
	                        <li><a href="/AlgCenter">黑龙江</a></li>
	                        <li><a href="/AlgCenter">内蒙古</a></li>
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	
    </div>
    <!--footer-->
    <div class="b_footer">
	<div class="s_footer">
		<div class="menu">
			<div class="icons"></div>
			<ul>
	            <li>
	                <a href="/ContactUs#join">
	                    <p class="st-icon"></p>
	                    <p class="txt">免费试听</p>
	                </a>
	            </li>
	
	            <li style="margin-left: 30px;">
	                <a id="zixun1" style="cursor:pointer" href="tencent://message/?uin=2810037561&Site=Sambow&Menu=yes">
	                    <p class="jm-icon"></p>
	                    <p class="txt">加盟咨询</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="/AlgCenter">
	                    <p class="cx-icon"></p>
	                    <p class="txt">门店查找</p>
	                </a>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="gz-icon"></p>
	                    <p class="txt">关注微信</p>
	                </a>
	                <p class="pop-img">
	                    <img src="images/codes.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	
	            <li>
	                <a href="javascript:">
	                    <p class="xz-icon"></p>
	                    <p class="txt">APP下载</p>
	                </a>
	                <p class="pop-img">
	                    <img src="images/code.png">
	                    <span class="roow"></span>
	                </p>
	            </li>
	            <!--<li>
	                <a href="#" target="_blank">
	                    <p class="zj-icon"></p>
	                    <p class="txt">幼儿园</p>
	                </a>
	            </li>-->
	            <li>
	                <a href="javascript:" class="return_top">
	                    <p class="re-back"></p>
	                    <p class="txt">返回顶部</p>
	                </a>
	            </li>
	        </ul>
		</div>
		<div class="write">
			<div class="code">
				<dl>
                    <dt><img src="images/codes.png"></dt>
                    
                    <dd>扫描二维码，关注“爱灵格”公众号</dd>
                </dl>
                <dl>
                    <dt><img src="images/code.png"></dt>
                    
                    <dd>扫描二维码，下载“爱灵格”APP</dd>
                </dl>
			</div>
			<div class="more">
                <dl>
                    <dt><a href="/ContactUs">关于我们</a></dt>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">公司介绍</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">爱灵格特色</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">科学早教</a></dd>
                    <dd><a onclick="location.href='/ContactUs'" style="cursor: pointer">荣誉奖项</a></dd>
                </dl>
                <dl>
                    <dt><a href="/AlgCourse">爱灵格特色</a></dt>
                    <dd><a href="/AlgCourse">ETAR多语</a></dd>
                    <dd><a href="/AlgCourse">ETAR汉语</a></dd>
                    <dd><a href="/AlgCourse">ETAR英语</a></dd>
                </dl>
                <dl>
                    <dt><a href="/Teacher">专家师资</a></dt>
                    <dd><a href="/Teacher">专家团队</a></dd>
                    <dd><a onclick="location.href='/Teacher'" style="cursor: pointer">认证教师</a></dd>
                </dl>
                <dl>
                    <dt><a href="/News">新闻动态</a></dt>
                    <dd><a href="/News">早教新闻</a></dd>
                    <dd><a href="/News">行业动态</a></dd>
                    <dd><a href="/News">企业动态</a></dd>
                    <dd><a href="/News">精彩博文</a></dd>
                </dl>
                <dl>
                    <dt><a href="/JoinUs">加盟我们</a></dt>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">市场前景</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">品牌优势</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">运营支持</a></dd>
                    <dd><a onclick="location.href='/JoinUs'" style="cursor: pointer">加盟资讯</a></dd>
                </dl>
                <dl>
                    <dt><a href="/ContactUs">联系我们</a></dt>
                    <dd><a href="/ContactUs">联系方式</a></dd>
                    <dd><a href="/ContactUs">中心查询</a></dd>
                    <dd><a href="/ContactUs">招聘信息</a></dd>
                    <dd><a href="/ContactUs">免费试听</a></dd>
                </dl>
           </div>
		</div>
	</div>
</div>
   
</body>
<script type="text/javascript" src="js/common.js" ></script>
<script type="text/javascript" src="js/index.js" ></script>

<script type="text/javascript" src="js/wow.min.js" ></script>
<script>
	new WOW().init();
</script>
<script type="text/javascript" src="js/swiper/swiper.min.js"></script>
<script>
        var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 3000,
        autoplayDisableOnInteraction: false
    });
    
  </script>
</html>