.main{
	width: 100%;
	position: relative;
}
.main .screen{
	width: 100%;
	height: 505px;
	position: relative;
}
.main .screen img{
	width: 100%;
	height: 100%;
}
.main .screen .city-mn{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background: url(../../static/images/center/2.png) no-repeat 0 0;
    background-size: 100% 100%;
}
.main .screen .city-til{
	padding-top: 10px;
	font-size: 20px;
    background: white;
    width: 385px;
    color: #9a5aa4;
    border-radius: 40px;
    text-align: center;
    margin-left: -15px;
}
.main .screen .city-li{
    padding-left: 30px;
    width: 390px;
    height: 250px;
    background: white;
    border-radius: 25px;
   margin: 0 auto;
    margin-top: 100px;
}
.main .screen .city-li ul li{
    width: 65px;
    float: left;
    height: 30px;
    margin-top: 10px;
  
}
.main .screen .city-li ul li a{
    font-size: 16px;
    color: black;
    line-height: 30px;
    width: 85px;
    float: left;
    text-align: left;
   
}
.main .many{
	text-align: center;
    height: 800px;
    margin: 0px 0 0;
    display: inline-block;
    z-index: 2;
    width: 100%;
}
.main .many .many-box{
	width: 1200px;
    margin: 0 auto;
}
.main .many .many-box .tit{
	padding-top: 80px;
}
.main .many .many-box .name{
	font-size: 45px;
    color: #444;
    font-weight: bold;
    padding-top: 26px;	
}
.main .many .many-box .txt{
  	font-size: 22px;
    color: #444;
    padding-top: 20px
} 
.main .many .many-box .mode{
	width: 100%;
    padding-top: 100px;
}
.main .many .many-box .mode .show li{
	width: 230px;
    height: 240px;
    display: inline-block;
    margin: 0 50px;
}
.main .many .many-box .mode .show li .icon{
    display: block;
    width: 100%;
    height: 182px;
    line-height: 182px;
}
.main .many .many-box .mode .show li .icon img {
    vertical-align: middle;
} 
.main .many .many-box .mode .show li .mode-info{
	overflow: hidden;
    padding-top: 35px;
    padding-bottom: 50px;
}
.main .many .many-box .mode .show li .mode-info h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}  
.main .many .many-box .mode .show li .mode-info span{
    font-size: 14px;
    color: #9a5aa4;
    font-family: "arial";
    display: block;
}

